@import url("null.css");
@import url("fonts.css");

body {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  color: #646d70;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
.page__main {
}

[class*="__container"] {
  max-width: 52.5rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}
.title {
  font-family: "Merriweather";
  color: #fff;
  font-size: 1.875rem;
}
.title--dark {
  color: #222f33;
}

/* Основные стили */
/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.5625rem;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 8.4375rem;
}

.header__body {
  display: flex;
  align-items: center;
  column-gap: 2.6875rem;
}
.header__menu {
}
.header__button {
  padding: 0.625rem 1.3125rem;
  background-color: #fff;
  color: #606b74;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.header__button:hover {
  background-color: #6e6868;
  color: #fff;
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 0.625rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.75rem;
}
.menu__item {
}
.menu__link {
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 39.0625em) {
  .header__container {
    min-height: 70px;
  }
  .header__body {
    column-gap: 1.25rem;
  }
  .header__button {
    padding: 10px 15px;
  }
  .menu__list {
    column-gap: 1.25rem;
    font-size: 14px;
  }
  .header__logo {
    flex: 0 0 2.0625rem;
  }
}
/* Main */
.main-section {
  min-height: 100vh;
  position: relative;
}
.main-section__container {
}
.main-section__content {
}
.main-section__label {
}
.main-section__title {
}
.title {
}
.main-section__video-link {
}
.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
